################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EventSim/obj
/EventSim/EventSim.csproj.user
/FTCData/obj
/Matching/obj
/OPR/obj
