<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TOA_API_KEY" value="4f860012ee8a32446bdc2ec43496e1b6ea9d75c40e82dae99dd1341d133c0aa8" />
    <add key="TOAMatchesURL" value="https://theorangealliance.org/api/event/{0}/matches" />
    <add key="TOATeamsURL" value="https://theorangealliance.org/api/event/{0}/rankings" />
  </appSettings>
</configuration>